{% extends 'basic_app/base.html' %} {% block body_block %}

<div class="bg-light p-5 rounded">
  <h1>Please login</h1>
  <form action="{% url 'basic_app:user_login' %}" method="POST">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter username" required />

    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      placeholder="Enter password"
      required
    />

    <input type="submit" value="Login" />
  </form>
</div>

{% endblock %}
