<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}" />
  </head>
  <body>
    <h1>This is a list of users</h1>
    {% if users %}
    <table>
      <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </thead>

      {% for user in users %}
      <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <p>No user found</p>
    {% endif %}
  </body>
</html>
